body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
}
/* #top{
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
  height:60%;
  width:100%;
  border: 2px solid black;
  
  
} */

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 70vh;
  min-height: 70vh;
  min-width: 100vw;
  position: relative;
  overflow: visible;
}
/* .overlay button {
  padding: 10px 20px;
  margin: 0 5px;
} */
.buttons {
    position: absolute;
    top:25%;
    margin-top: auto; /* adjust this value as needed */
    display: flex;
    float:left;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    
  }
  .buttons .button {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    
  }
  .red-button {
    background-color: #ff5858;
    color: white;
  }
  
  .blue-button {
    background-color: #5a77ff;
    color: white;
  }
  
  .purple-button {
    background-color: #a55aff;
    color: white;
  }
  
  .buttons .button:hover {
    background-color: white;
    color: black;
  }





  .content {
    /* background-color: #f5f5f5; */
    /* border: 2px solid #ddd;
    border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 30px;
    
  max-width: 65%;
  margin: 20px auto;
    font-size: 18px; /* Make the font size larger */
    line-height: 1.5; /* Add proper line spacing */
    letter-spacing: 0.05em; /* Add a little letter spacing */
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase; /* Make the title stand out more */
    color:black;
  }
  
  p {
    margin-bottom: 30px;
    color:black;
  }
  
  