/* @media (max-width: 800px) {
 
  .buttons {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }
  .buttons .button {
    margin: 0px 0;
    max-width: 30vw;
    text-align: left;
  }
  canvas {
    width: 100vw !important;
    max-height: 50vh !important;
    max-width: 100vw !important;
    display: block;
    margin: 0 auto;
  }
  .content {
    padding: 8px;
    max-width: 100vw;
    font-size: 3px;
    margin: 4px auto;
  }
  p {
    font-size: 16px;
    margin-bottom: 0px;
  }
} */
body{
    margin:0px;
    padding:0px;
    overflow: hidden; /* Hide scrollbars */
    font-size: clamp(14px, 2.5vw, 22px);
}

.buttons {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12px;
  z-index: 10;
}

.buttons .button {
    text-decoration: none;
    padding: 8px 10px;
    font-size: clamp(14px, 2.5vw, 22px);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  margin: 2vh 0;
  width: 140px;
  text-align: left;
  
}

  .red-button {
    background-color: #ff5858;
    color: white;
  }
  
  .blue-button {
    background-color: #5a77ff;
    color: white;
  }
  
  .purple-button {
    background-color: #a55aff;
    color: white;
  }
  
  .buttons .button:hover {
    background-color: white;
    color: black;
  }





   .content {
      padding: 1vh 2vw;
      max-width: 100%;
      margin: 10px auto;
      font-size: clamp(5px, 2.2vw, 20px);
      line-height: 1.5;
      letter-spacing: 0.05em;
   }
    p {
    font-size: clamp(5px, 2.2vw, 20px);

  }

/* Responsive button group pinned to top left */







@media (max-width: 800px) {
 
  .buttons {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }
  .buttons .button {
    margin: 1vh 0;
    max-width: 30vw;
    text-align: left;
  }
  canvas {
    width: 100vw !important;
    max-height: 50vh !important;
    max-width: 100vw !important;
    display: block;
    margin: 0 auto;
  }
  .content {
    padding: 4vw;
    max-width: 100vw;
    font-size: clamp(15px, 2.2vw, 20px);
    margin: 4px auto;
  }
  p {
    font-size: clamp(13px, 2.2vw, 20px);
    margin-bottom: 0px;
  }
}
body{
    margin:0px;
    padding:0px;
    overflow: hidden; /* Hide scrollbars */
    font-size: clamp(14px, 2.5vw, 22px);
}

