body{
    margin:0px;
    padding:0px;
    overflow: hidden; /* Hide scrollbars */
}
/* #top{
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
  height:60%;
  width:100%;
  border: 2px solid black;
  
  
} */

/* #top {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height:60%;
    width:100%;
   
} */
/* .overlay button {
  padding: 10px 20px;
  margin: 0 5px;
} */
.buttons {
    position: absolute;
    top:25%;
    margin-top: auto; /* adjust this value as needed */
    display: flex;
    float:left;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    
  }
  .buttons .button {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    
  }
  .red-button {
    background-color: #ff5858;
    color: white;
  }
  
  .blue-button {
    background-color: #5a77ff;
    color: white;
  }
  
  .purple-button {
    background-color: #a55aff;
    color: white;
  }
  
  .buttons .button:hover {
    background-color: white;
    color: black;
  }





   .content {
      padding: 5vw;
      max-width: 100%;
      margin: 10px auto;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.05em;
   }

   


  @media (max-width: 800px) {
    /* #top {
      width: 100vw;
      height: auto;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    } */
    canvas {
      width: 100vw !important;
      height: auto !important;
      max-width: 100vw !important;
      display: block;
      margin: 0 auto;
    }
    .content {
      padding: 5vw;
      max-width: 100vw;
      font-size: 16px;
      margin: 1vh auto;
    }
    p {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase; /* Make the title stand out more */
    color:black;
  }
  
  p {
    margin-bottom: 30px;
    color:black;
  }
  
  